<div class="blank"></div>
<div class="birthday-container">
  <!-- Initial content: Heading + Button -->
@if(!lightsOn){
      <div  class="lights-off">
    <h1>Turn on the lights 🎉</h1>
    <button (click)="turnOnLights()">Click Me</button>
  </div>
}

  <!-- Final content: Birthday Message -->
 @else {
     <div  class="birthday-message">
    
    <h1>🎂</h1>    <h1 class="glow-text"> Happy Birthday, Gudiya! </h1>
    <h1>💖</h1>
    <p class="wish-text">
      On this special day, I want you to know how deeply you are loved as my young sister  .
      You’ve always been  my secret keeper, my friend.
      May your birthday be filled with magic, sparkle, laughter, and memories that last forever.
      Keep shining bright, keep smiling, and never stop dreaming. 💫
      <br/><br/>
      wish you a year full of joy, surprises, growth, and endless love. 🥳✨
      You deserve the world — and then some 💞
       <br /><br />
       I know i may not be important to you but one thing i have to say i always looked at you like a little sister , and i dont know why but since we started talking in back 2020 i guess, I felt a connection and thanks for being there.
       <br><br>

  Happy Birthday once again! Here's to celebrating YOU — today and always. 🎉🎂🎈
    </p>
  </div>
   <button (click)="goTo()" >
       Last →
    </button>
    <br><br>

 }
</div>