<div class="bg">
    <div class="cake-container" (click)="launchSprinkles()">
       @if(isbutton){
         <div class="cake-layer candle">
            <div class="flame" [class.blow-out]="isBlown"></div>
        </div>
       
       }
  <div class="cake-layer layer1"></div>
  <div class="cake-layer layer2">{{isbutton? 'Janvi':'click me'}}</div>
  <div class="cake-layer layer3"></div>

 
</div>
@if(isbutton){
   @if(blowButton){
      <button (click)="blowCandle()">Blow Candle</button>
    }
    @else {
       <button (click)="goTo()" >
       Go Ahead →
    </button>
    }
   
}
 
@if(!blowButton){
  <h1 class="drop-text happy" >Happy</h1>
  <h1 class="drop-text Birthday"  >Birthday</h1>
  
}
 <div class="sprinkles" *ngIf="showSprinkles">
   
    <div *ngFor="let s of sprinkleArray" class="sprinkle" [ngStyle]="s.style"></div>
  </div>
</div>


